html, body {
  margin: 0;
  height: 100vh;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;

  >div {
    position: relative;
    
    &:nth-child(odd) {
      background-color: #eee; 
    }

    &:nth-child(even) {
      background-color: #ccc; 
    }

    >* {
      position: absolute;
      inset: 0;
    }

    .core {
      display: grid;
      place-items: center;
  
      ul {
        list-style: none; 
        padding: 0;
        margin: 0;
        width: 28vw; 
        
        li {
          margin-bottom: 8px; 
          padding: 10px; 
          background-color: #aaa; 
          color: #eee;
          cursor: pointer; 
          border-radius: 4px; 
          background-image: conic-gradient(#777, #777);
          background-repeat: no-repeat;

          &:hover {
            filter: contrast(2);
          }

          &:active {
            background-position-x: 28vw;
            color: #000;
          }

          &:not(:active) {
            transition: all 0.5s ease, background-position-x 60s linear, color 60s linear; 
          }
        }
      }
    }

    .cover {
      transition: 4s linear(0 0%, 0 75%, 1 100%); 
      background-color: #5557;

      &:active {
        transition: 0.2s linear;
      }
      
      &:active, :hover+& {
        pointer-events: none;
        top: 100%;
      }
    }
  }
}
